* {
    box-sizing: border-box;
    font-size: 20px;
  }
  
  body {
    font-family: sans-serif;
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    height: 100vh;
    
  }
  
  a{
    text-decoration: none;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    text-decoration: none;
  }
  
  nav ul li {
    display: inline;
    margin: 0 5px;
  }
  
  main {
    width: 80%;
    margin: 0 auto;
  }
h1{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
h2{
  margin :10px;
  text-align:left;
}

#home-tab {
  text-align: center;
}

#home-tab p {
  margin-bottom: 20px;
}
#home-tab .img {
  width: 80%; /* Adjust the width as needed */
  max-width: 400px; /* Set a maximum width */
  display: block;
  margin: 0 auto; /* Center the image */
}
#home-tab .vdo {
  width: 100%; /* Responsive video width */
  max-width: 600px; /* Set a maximum width */
  display: block;
  margin: 0 auto; /* Center the video */
}
.video{
  margin: 0 auto;
  padding: 10px;
}
footer{
  text-align: center;
  font-size: small;
  color: #df2909;

}
footer a{
  text-decoration: none;
}
#pillNav2 li :hover{
text-decoration: none;
color: #df2909;
}
#home-tab{
  text-align: center;

}

