{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}About{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <p>Welcome to GameSphere, your ultimate destination for all things e-gaming!
     Our web application is designed to bring you closer to the heart of the gaming 
     community, offering seamless registration and access to the hottest e-gaming
      events organized by us. 
  </p>

  <p>
    Dive into a world of exhilarating competitions, electrifying 
      tournaments, and unforgettable experiences. Whether you're a seasoned gamer or just 
      starting out, GameSphere caters to all skill levels and interests. With our user-friendly 
      interface, you can easily browse upcoming events, register with ease, and connect with 
      fellow gamers who share your passion. Get ready to level up your gaming experience with 
      GameSphere - where the thrill never stops!<a href="{{url_for(pages.services)}}" >Events</a>page
  </p>
{% endblock content %} 