{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Sign In{% endblock title %}</h2>
{% endblock header %}

{% block content %}
<main id="signin-tab">
<p>Sign in to your account.</p>
<form class="row g-3 needs-validation" novalidate action="{{ url_for('pages.signin') }}" method="post">
  <div class="col-md-4">
      Looks good!
    </div>
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required="true">
      <label class="form-check-label" for="invalidCheck">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Sign In</button>
  </div>
</form>

</main>
{% endblock content %}

